/* ====== HEADER ====== */
.announcement-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 0px;

  position: relative;
}

.announcement-content p {
  font-size: 14px;
  line-height: 1.4;
}

.announcement-content a {
  font-weight: 500;
  text-decoration: underline;
}

.announcement-bar {
  background-color: #000000;
  color: #ffffff;
}
.announcement-bar.hidden {
  display: none;
}

.close-bar {
  position: absolute;
  right: 0;
  font-size: 20px;
}

.close-bar:hover {
  opacity: 0.7;
}

.navbar-content {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 37px 0;
}

.logo {
  font-family: "Integral CF", sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 24px;
}

.nav-links a {
  color: #000000;
  font-size: 16px;
  font-weight: 400;
}

.search-container {
  flex-grow: 1;
  position: relative;
}

.search-icon {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;

  opacity: 0.5;
}

.search-container input {
  width: 100%;
  background-color: #f0f0f0;
  border: none;
  padding: 14px 16px 14px 52px;
  border-radius: 62px;
}
.search-container input:focus {
  outline: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.nav-icons {
  display: flex;
  gap: 14px;
}

/* ====== DROPDOWN ====== */
.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: -10px;
  background-color: #ffffff;
  min-width: 180px;
  padding: 12px 0;
  border-radius: 8px;
  list-style: none;
  z-index: 10;
}

.dropdown.active .dropdown-menu {
  display: block;
}

.dropdown-menu li a {
  padding: 10px 20px;
  display: block;
  color: #000000;
  font-size: 14px;
}

.dropdown-menu li a:hover {
  background-color: #f5f5f5;
}

/* ====== BURGER MENU ====== */
.burger-menu {
  width: fit-content;
}
.burger-menu.show {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 5px;
  padding: 15px;
}
.burger-menu.show .bar {
  width: 25px;
  height: 3px;
  background-color: black;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;

  width: 300px;
  height: 100vh;

  background-color: #ffffff;

  z-index: 1000;

  padding: 24px;

  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.sidebar.show {
  transform: translateX(0);
}
.close-btn {
  position: absolute;
  top: 20px;
  background: none;
  border: none;
  font-size: 35px;
  cursor: pointer;
  color: #000;
  line-height: 1;
}

.close-btn:hover {
  color: red;
}

/* ====== OVERLAY ====== */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
}

.overlay.show {
  display: block;
}

/* ====== MEDIA QUERIES ====== */
@media (max-width: 1200px) {
  .header-nav {
    flex-direction: column;
    gap: 40px;
  }
  .book-table-container {
    display: none;
  }
}

@media (max-width: 768px) {
  .search-container {
    flex-grow: 0;
    margin-left: auto;
  }

  .search-container input {
    display: none;
  }

  .search-icon {
    position: static;
    transform: none;
    width: 24px;
    height: 24px;
    cursor: pointer;
    opacity: 1;
  }

  .nav-icons {
    gap: 10px;
  }
  .navbar-content {
    gap: 10px;
  }
  .nav-icons img {
    width: 24px;
    height: 24px;
  }
  .nav-links {
    margin-top: 70px;
    flex-direction: column;
  }
}

@media (max-width: 490px) {
  .sidebar {
    width: 100%;
  }
  .header-nav {
    flex-direction: column;
    gap: 40px;
  }
  .book-table-container {
    display: none;
  }
}
