@font-face {
  font-family: "Integral CF";
  src: url("../Demo_Fonts/Fontspring-DEMO-integralcf-bold.otf")
    format("opentype");
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Satoshi", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #ffffff;
}

hr {
  margin: 0;
}

button {
  all: unset;
  cursor: pointer;
  transition: 0.3s;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

/* ====== HERO ====== */
.hero-section {
  background-color: #f2f0f1;
  min-height: 660px;
  position: relative;
  overflow: hidden;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero h1 {
  font-family: "Integral CF", sans-serif;
  font-size: 62px;
  font-weight: 700;
  margin-bottom: 32px;
}
.hero p {
  color: #00000099;
  line-height: 1.4;
}

.hero-intro {
  width: 100%;
  max-width: 546px;
}

.shop-btn {
  background-color: #000000;
  color: #ffffff;
  padding: 15px 67px;
  border-radius: 62px;
  margin: 32px 0px 68px 0px;
}

.shop-btn:hover {
  background-color: #333;
}

.hero-left {
  flex: 1;
}
.hero-right {
  position: relative;
  flex-shrink: 0;
  flex: 1;
}

.hero-main-image {
  width: 100%;
  height: 100%;
  max-height: 750px;
  object-fit: cover;
  object-position: top center;
  display: block;
}

.counters {
  display: flex;
}
.counters div {
  line-height: 1.4;
}

.counters span {
  font-size: 40px;
  font-weight: 700;
}

.counters hr {
  margin: 0px 32px 0px 32px;
  border: 1px solid #0000001a;
}

/* ====== STARS ====== */

.star {
  position: absolute;
  z-index: 2;
}

.star-large {
  top: 14%;
  right: 0;
}

.star-small {
  top: 44%;
}

/* ====== BRANDS ====== */

.brands-section {
  width: 100%;
  background-color: #000000;
  padding: 42px 0;
}

.brands-item {
  display: inline-flex;
  align-items: center;
  padding: 0 48px;
}

.brands-item:hover {
  opacity: 0.45;
  transition: opacity 0.25s ease;
}

.brands-logo {
  display: block;
}

/* ====== ARRIVALS SECTION ====== */

.arrivals-section {
  padding: 72px 0px;
}

/* ====== PRODUCT GRID ====== */

.clothing-card-grid {
  margin-top: 56px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.clothing-cards h2 {
  font-family: "Integral CF", sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 48px;
}

.clothing-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.clothing-card:hover {
  transform: translateY(-8px);
}

.clothing-card h3 {
  font-weight: 700;
  font-size: 20px;
  margin-top: 16px;
  margin-bottom: 8px;
}

/* ====== PRODUCT IMAGE ====== */

.clothing-card .image-container {
  width: 100%;
  aspect-ratio: 296 / 298;

  overflow: hidden;
  border-radius: 20px;
}

.clothing-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;

  transition: transform 0.4s ease;
}

.clothing-card:hover .image-container img {
  transform: scale(1.05);
}

/* ====== PRODUCT RATING ====== */

.star-rating {
  display: flex;
  align-items: center;
  gap: 14px;

  margin-bottom: 8px;
}

.star-rating-icons {
  display: flex;
  align-items: center;
  gap: 6px;
}
.star-rating-icons .star-half {
  width: 8px;
  height: 18px;
}
.star-rating img {
  width: 18px;
  height: 18px;
}

.rating-number {
  font-size: 14px;
}

.max-rating {
  color: #00000099;
}

/* ====== PRODUCT PRICE ====== */
.price-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.clothing-card .price,
.price-old {
  font-weight: 700;
  font-size: 24px;
}

.price-old {
  text-decoration: line-through;
  text-decoration-color: #00000066;
  color: #00000066;
}

.discount-badge {
  background-color: #ff33331a;
  color: #ff3333;
  padding: 6px 14px;
  border-radius: 62px;
  font-size: 12px;
  font-weight: 500;
}

/* ====== VIEW ALL BUTTON ====== */
.view-button {
  display: block;
  margin: 36px auto 64px;
  padding: 16px 80px;
  font-weight: 500;

  border: 1px solid #0000001a;
  border-radius: 62px;

  transition: all 0.3s ease;
}

.view-button:hover {
  background-color: #000000;
  color: #ffffff;
  transform: translateY(-2px);
}

.section-divider {
  border: 1px solid #0000001a;
}

/* ====== DRESS STYLES ====== */
.dress-styles {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  background-color: #f0f0f0;
  padding: 70px;
  border-radius: 40px;
}

.dress-styles h2 {
  font-family: "Integral CF", sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 48px;
}

.dress-styles-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
}
.style-card:nth-child(1) {
  grid-column: span 1;
}

.style-card:nth-child(2) {
  grid-column: span 2;
}

.style-card:nth-child(3) {
  grid-column: span 2;
}

.style-card:nth-child(4) {
  grid-column: span 1;
}

.style-card {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  background-color: #ddd;
  cursor: pointer;
}

.style-card img {
  width: 100%;
  height: 290px;
  object-fit: cover;
  display: block;
  transition: transform 0.3s ease;

  object-position: center 40%;
}

.style-card:nth-child(1) img.reverse {
  transform: scale(1.9) scaleX(-1);
}

.style-card:hover img {
  transform: scale(1.04);
}

.style-card:nth-child(1):hover img.reverse {
  transform: scale(2) scaleX(-1);
}

.style-card-title {
  position: absolute;
  top: 16px;
  left: 16px;
  font-weight: 700;
  font-size: 36px;
  color: #000000;
  padding: 4px 12px;
  z-index: 2;
}

/* ====== REVIEWS ====== */
.reviews-section {
  padding: 72px 0px;
}

.reviews h2 {
  font-family: "Integral CF", sans-serif;
  font-weight: 700;
  font-size: 48px;
}

.carousel-controls {
  text-align: end;
}

.carousel-controls button {
  transition: transform 0.2s ease-out;
}

.carousel-controls button:hover {
  transform: scale(1.2);
  cursor: pointer;
}

/* ====== REVIEW CARD ====== */
.reviews-swiper {
  margin-top: 40px;
}
.review-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 240px;

  border: 1px solid #0000001a;
  border-radius: 20px;
  padding: 28px 32px;
}

.review-author {
  display: flex;
  align-items: center;
  gap: 3px;
  font-weight: 700;
  font-size: 20px;
}
.review {
  color: #00000099;
  line-height: 1.4;
}

/* ====== NEWSLETTER ====== */

.newsletter-section {
  position: relative;
  margin-bottom: -90px;
  z-index: 10;
}

.newsletter {
  background-color: #000000;
  color: #ffffff;

  border-radius: 20px;

  padding: 42px 64px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.newsletter h2 {
  font-family: "Integral CF", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.1;

  max-width: 550px;
}

.newsletter-form {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 100%;
  max-width: 350px;
}

.newsletter-form input,
.newsletter-form button {
  height: 48px;
  border-radius: 62px;
  border: none;
}

input:focus {
  outline: none;
}

.newsletter-form input {
  padding: 14px 20px;
}

.newsletter-form button {
  font-weight: 500;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
}

.email-container {
  position: relative;
}

.email-icon {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.newsletter-form input {
  padding: 14px 16px 14px 52px;
  width: 100%;
}

/* ====== SCROLL TOP ====== */
.scroll-top-btn {
  position: fixed;
  right: 20px;
  bottom: 20px;

  width: 55px;
  height: 55px;

  border: none;
  border-radius: 50%;

  background-color: #000000;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);

  opacity: 0;
  visibility: hidden;

  transition: all 0.3s ease;

  z-index: 999;
}

.scroll-top-btn.show {
  opacity: 1;
  visibility: visible;
}

.scroll-top-btn:hover {
  transform: translateY(-5px) scale(1.05);
}
/* ====== MEDIA QUERIES ====== */

@media (max-width: 1440px) {
  .container {
    max-width: 1240px;
  }

  .counters hr {
    margin: 0px 16px 0px 16px;
  }
}

@media (max-width: 1024px) {
  .brands-item img {
    width: 116px;
    height: 23px;
    object-fit: contain;
  }
  .brands-section {
    padding: 32px 0;
  }
  .container {
    max-width: 900px;
  }
  .counters span {
    font-size: 34px;
  }
  .hero {
    flex-direction: column;
    text-align: center;
    padding: 60px 30px 0;
    gap: 40px;
  }

  .hero-left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero-intro {
    max-width: 700px;
  }

  .hero h1 {
    font-size: 48px;
    margin-bottom: 24px;
  }

  .clothing-cards h2,
  .dress-styles h2,
  .reviews h2,
  .newsletter h2 {
    font-size: 36px;
  }

  .shop-btn {
    margin: 32px 0 50px;
  }

  .counters {
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }

  .hero-right {
    width: 100%;
  }

  .hero-main-image {
    max-height: 600px;
    object-position: top;
  }

  .star-large {
    right: 40px;
  }

  .star-small {
    left: 40px;
  }
  .clothing-card-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .dress-styles-grid {
    grid-template-columns: 1fr;
  }

  .style-card:nth-child(1),
  .style-card:nth-child(2),
  .style-card:nth-child(3),
  .style-card:nth-child(4) {
    grid-column: span 1;
  }

  .style-card img {
    height: 260px;
  }
  .newsletter {
    padding: 42px 46px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 700px;
  }
  .hero-section {
    min-height: auto;
  }

  .hero {
    padding: 40px 20px 0;
  }

  .hero h1 {
    font-size: 38px;
    line-height: 1.1;
  }

  .hero p {
    font-size: 15px;
  }

  .shop-btn {
    width: 100%;
    max-width: 320px;
    text-align: center;
    padding: 16px 0;
  }

  .counters {
    margin-top: 10px;
    gap: 10px;
  }

  .counters span {
    font-size: 30px;
  }

  .counters p {
    font-size: 14px;
  }

  .hero-main-image {
    max-height: 500px;
  }

  .star-large img {
    width: 76px;
  }

  .star-small img {
    width: 44px;
  }
  .clothing-card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .clothing-cards h2,
  .dress-styles h2,
  .reviews h2,
  .newsletter h2 {
    font-size: 32px;
  }
  .dress-styles {
    padding: 40px;
  }
  .newsletter {
    flex-direction: column;
    gap: 44px;
  }
}

@media (max-width: 490px) {
  .container {
    max-width: 400px;
  }
  .hero {
    padding: 30px 16px 0;
  }

  .hero h1 {
    font-size: 32px;
    margin-bottom: 20px;
  }

  .hero p {
    font-size: 14px;
  }

  .shop-btn {
    margin: 24px 0 40px;
  }

  .counters {
    justify-content: center;
  }

  .counters div {
    width: 45%;
  }

  .counters span {
    font-size: 26px;
  }
  .counters hr:nth-of-type(2) {
    display: none;
    margin: 0;
  }
  .counters hr {
    margin: 0;
  }

  .hero-main-image {
    max-height: 420px;
  }

  .star-large {
    top: 10%;
    right: 20px;
  }

  .star-small {
    top: 38%;
    left: 10px;
  }

  .star-large img {
    width: 60px;
  }

  .star-small img {
    width: 34px;
  }
  .clothing-card-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
